<html>
<head>
  <title>Book Your uber</title>
</head>
<body>
  <h3>It's time to book an Uber</h3>
  <form method="POST" action="/book-uber">
    <p>
      <label>Source: 
        <input type="text" name="source" required="true">
      </label>
    </p>
    <p>
      <label>Destination: 
        <input type="text" name="destination" required="true">
      </label>
    </p>
    <p>
      <label>Time: 
        <input type="datetime-local" name="arrival_time" required="true" value=<%= Time.now.strftime('%Y-%m-%dT%H:%M') %>>
      </label>
    </p>
    <p>
      <label>Email: 
        <input type="email" name="email" required="true">
      </label>
    </p>

    <input type="submit" name="submit" value="REMIND ME">
  </form>
  <hr />
  <h3>API Logs</h3>
  <p id='api-logs'></p>

  <script type="text/javascript" src="javascripts/jquery-3.0.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      setInterval(function(){
        $.getJSON('/api-logs', function(res){
          $('#api-logs').html(res.api_logs.join('<br />'));
        });
      }, 5000);
    });
  </script>
</body>
</html>